* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2px;
}

.list_style_none {
  list-style: none;
}

.td_none {
  text-decoration: none;
}

.home_page_main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #fffcf6;
}

.home_page_nav {
  width: 20%;
  margin: auto;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
}

.home_page_content {
  padding: 15px 0;
  width: 80%;
  margin: auto;
}

.home_page_content header {
  padding: 10px 0 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home_grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 5px 15px;
}

.home_grids_box {
  width: 100%;
  margin: auto;
  transition: 1s;
}

.home_grids_box:hover {
  transform: scale(1.05);
}

.home_grids_box a {
  color: #172b4d;
}

.home_grids_box article {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  text-align: center;
  padding: 10px;
  background-color: #f7f0e6;
}

.therapy_figure {
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.therapy_figure img {
  width: 125px;
  object-fit: cover;
  object-position: center;
}

.home_page_socials {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.home_page_socials img {
  width: 20px;
  object-fit: cover;
  object-position: center;
}
