* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2px;
}

.list_style_none {
  list-style: none;
}

.td_none {
  text-decoration: none;
}


.therapy_details_main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.therapy_details_nav {
  width: 20%;
  margin: auto;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
}

.therapy_details_content {
  padding: 15px 0;
  width: 80%;
  margin: auto;
}
